@{
    ViewData["Title"] = "Home Page";
}

        <section id="banner" class=container_banner>
            <img class="fundo_banner" src="/Assets/Bannner.png" alt="">
            <div class="conteudo_banner">
                <h1>Liga E-players</h1>
                <span>O maior portal de campeonatos online</span>
                <a asp-area="" asp-controller="Jogador" asp-action="Index" class="btn gradient">Inscreva-se</a>
                <a asp-area="" asp-controller="Equipe" asp-action="Index">Registre seu time</a>
            </div>
        </section>

        <section class="jogos">
            <div class="imagem_jogos">
                <img src="/Assets/Counter-Strike.png" alt="">
                <img src="/Assets/logo-lol.png" alt="">
                <img src="/Assets/valorant-logo.png" alt="">
                <img src="/Assets/FIFA_logo.png" alt="">
                <img src="/Assets/logo rocket.png" alt="">
            </div>
        </section>

        <section>
            <div class="como_participar">
            <h2>como participar das ligas?</h2>
            <div class="participar_texto">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis turpis libero, euismod sit amet pretium a, fermentum at eros. Sed dapibus, lorem sed blandit luctus, enim tortor ultricies odio, eget lacinia neque ipsum ut diam. Suspendisse eros elit, mollis non sapien id, varius efficitur est. Etiam ac sem et elit efficitur volutpat. Sed ac posuere neque. Quisque malesuada nisl ac ex tincidunt, et tempor nisl iaculis.</p>
           </div>
           </div>
            <img class="sage" src="/Assets/refbanner.png" alt="">
            <img class="trapezio" src="/Assets/teste.png" alt="">
            <img class="fundopart" src="/Assets/participarbanner.png" alt="">
        </section>

        <section class="ao_vivo">
            <span>Ao Vivo</span>
            <img src="/Assets/aovivo.png" alt="">
            <div class="linha"></div>
            <span id="em_breve">Em Breve</span>
            <div class="em_breve">
            <img src="/Assets/aovivo.png" alt="">
            <img src="/Assets/aovivo.png" alt="">
            </div>
        </section>

        <!--começo das notícias e jogos próximos-->
        <section id="noticias" class="noticias">
            <span class="noticias_titulo">Noticias</span>
            <span class="proximos_jogos">Próximos Jogos</span>

            <div class="estilo_noticias"> 
                <span id="titulo_um">Titulo</span>
                <span id="titulo_dois">Titulo</span>
                <span id="titulo_tres">Titulo</span>
                <span id="titulo_quatro">Titulo</span>
                <span id="titulo_cinco">Titulo</span>
                <span id="titulo_seis">Titulo</span>
            

            <p id="p_um">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis turpis libero, euismod sit amet pretium a, fermentum at eros. Sed dapibus, lorem sed blandit luctus, enim tortor ultricies odio, eget lacinia neque ipsum ut</p>
            <p id="p_dois">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis turpis libero, euismod sit amet pretium a, fermentum at eros. Sed dapibus, lorem sed blandit luctus, enim tortor ultricies odio, eget lacinia neque ipsum ut</p>
            <p id="p_tres">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis turpis libero, euismod sit amet pretium a, fermentum at eros. Sed dapibus, lorem sed blandit luctus, enim tortor ultricies odio, eget lacinia neque ipsum ut</p>
            </div>

            <div class="noticias_um">
            <img src="/Assets/noticiaum.png" alt="">
            <img src="/Assets/noticiadois.png" alt="">
            <img src="/Assets/noticiatres.png" alt="">
            </div>

            <div class="estilo_noticias">
            <p id="p_quatro">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis turpis libero, euismod sit amet pretium a, fermentum at eros. Sed dapibus, lorem sed blandit luctus, enim tortor ultricies odio, eget lacinia neque ipsum ut</p>
            <p id="p_cinco">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis turpis libero, euismod sit amet pretium a, fermentum at eros. Sed dapibus, lorem sed blandit luctus, enim tortor ultricies odio, eget lacinia neque ipsum ut</p>
            <p id="p_seis">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis turpis libero, euismod sit amet pretium a, fermentum at eros. Sed dapibus, lorem sed blandit luctus, enim tortor ultricies odio, eget lacinia neque ipsum ut</p>
            </div>

            <div class="noticias_dois">
            <img src="/Assets/noticiaquatro.png" alt="">
            <img src="/Assets/noticiacinco.png" alt="">
            <img src="/Assets/noticiaum.png" alt="">
            </div>
          
            <section>
            <img class="bloco_proximos" src="/Assets/bloco.png" alt="">
            <div class="jogos_logos">
            <img src="/Assets/logosjogos.png" alt="">
            <img src="/Assets/logosjogos.png" alt="">
            <img src="/Assets/logosjogos.png" alt="">
            <img src="/Assets/logosjogos.png" alt="">
            <img src="/Assets/logosjogos.png" alt="">
            <img src="/Assets/logosjogos.png" alt="">
            </div>
            <div id="horarios" class="horarios">
                <span>10/03/2021 19:00</span>
                <span>15/03/2021 19:00</span>
                <span>21/03/2021 19:30</span>
                <span>22/03/2021 20:00</span>
                <span>30/03/2021 19:00</span>
                <span>02/04/2021 19:00</span>
            </div>
            </section>   

        </section>
        <!--fim das notícias e jogos próximos-->

@* o asp area é uma acessibilidade para o link do url *@

