@model Usuario
@{
    ViewData["Title"] = "Cadastro";
}

    <body>
        <main>
            <div class="Cpag">
                <div class="Ccadastro">
                    <div class="Cbloco1">
                        <img class="ClogoPag" src="/img/Instadev (1).png" alt="Imagem do  instadev">
                        
                        <div class="CtextoCadastro">
                            <p>Cadastre-se para ver fotos e vídeos dos seus amigos.</p>
                        </div>

                        <form method="POST" action='@Url.Action("Cadastrar")'>
                        <div class="Cescrever">
                            <input class="CescreverCadastro" type="email" name="Email" placeholder="Email">
                            <input class="CescreverCadastro" type="text" name="NomeCompleto" placeholder="Nome completo">
                            <input class="CescreverCadastro" type="text" name="NomeUsuario" placeholder="Nome de usuário">
                            <input class="CescreverCadastro" type="password" name="Senha" placeholder="Senha">
                        </div>

                        <div>
                            @TempData.Peek("mensagemErro")
                            @TempData.Peek("mensagemErroNick")
                        </div>

                        <button class="CbotaoCadastro" type="submit">Cadastrar-se</button>
                        </form>

                        <div class="CtextoCadastro2">
                            <p>Ao se cadastrar, você concorda com nossos Termos, Política de Dados e Política de
                                Cookies. </p>
                        </div>
                    </div>

                    <div class="Cbloco2">
                        <div class="CtextoConectar">
                            <p>Tem uma conta?</p>
                            @* <a href="Index.html">Conecte-se</a> *@
                            <a asp-area="" asp-controller="Login" asp-action="Index">Conecte-se</a>
                        </div>

                    </div>

                    <div class="Cbloco3">
                        <p>Obtenha o aplicativo.</p>

                        <div class="Cimagensapps">
                            <a href="#"><img src="/img/apple.png" alt="link para baixar na apple store"></a>
                            <a href="#"><img src="/img/playstore.png" alt="link para baixar no google play store"></a>
                        </div>

                    </div>

                </div>

            </div>

        </main>

    </body>