@{
    ViewData["Title"] = "Login";
}

<div class = "titulo_pagina">
    <h1> @ViewData["Title"]</h1>
</div>

<form method="POST" action='@Url.Action("Logar")' class="cadastro"> 

    <div class="campo">
    <label for="Email">Email</label>
    <input type="text" name="Email" required /> 
    </div>

    <div class="campo">
    <label for="Senha">Senha</label>
    <input type="password" name="Senha" required />
    </div>

    <div class="erro">@TempData.Peek("Mensagem")</div>
   
    <button class="btn" type="submit">Entrar</button>
</form>